<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>시큐리티 테스트</title>
</head>

<body th:align="center">
    <div class="dropdown-menu">

        <form class="px-4 py-3" method="POST">
            <div class="mb-3">
                <label for="exampleDropdownFormEmail1" class="form-label">Username</label>
                <input name="username" type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="ID">
            </div>
            <div class="mb-3">
                <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="exampleDropdownFormPassword1"
                    placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">로그인</button>
        </form>

    </div>

</body>

</html>